advanced/lib/__pycache__
advanced/lib/concerns/__pycache__
basics/eval/__pycache__
basics/lib/__pycache__
basics/lib/concerns/__pycache__
neural_network/eval/__pycache__
neural_network/lib/__pycache__
neural_network/lib/concerns/__pycache__
neural_network/ja/ja.tsv
prerequisite/lib/__pycache__
